/* Wrapper for the date field */
.date-field-wrapper {
  display: flex;
  width: 190px;
  height: 40px;
  background-color:var(--app-bg);
  border-radius: 8px;
  align-items: left;
  box-sizing: border-box;
  // margin: 0 auto ; 
  justify-content: flex-start;
  
  /* MUI Input adjustments */
  .MuiInputBase-root {
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    box-shadow: none;
    border-radius: 8px;
  }

  .MuiOutlinedInput-root {
    width: 100%;
    height: 100%;

    .MuiOutlinedInput-notchedOutline {
      border: none;
    }

    &:hover .MuiOutlinedInput-notchedOutline {
      border: none;
    }
  }

  .MuiInputBase-input {
    width: 100%;
    height: 100%;
    padding: 12px 14px;
    box-sizing: border-box;
    color: #333;
    
  }

  .MuiInputLabel-root {
    color: #666;
    font-size: 14px;
  }

  .Mui-focused .MuiInputLabel-root {
    color: #007aff;
  }

  .MuiSvgIcon-root {
    color: #555;
    font-size: 20px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }

  @media (max-width: 480px) {
    height: 42px;
    font-size: 13px;

    .MuiInputBase-input {
      padding: 10px 12px;
      font-size: 13px;
    }
  }
}

@media (max-width: 1024px) {
  .date-field-wrapper {
    max-width: 600px;
    width: 165px;
    .MuiSvgIcon-root {
      font-size: 17px;
    }
  }
}