.amount-summary {
  display: flex;
  gap: 12px;

  &__card {
    padding: 4px 4px;
    border-radius: var(--radius-md);
    text-align: center;
    min-width: 120px;

    &--total {
      background-color: var(--colour-all-bg);
      color: var(--colour-all-text);
    }
    &--received {
      background-color: var(--colour-available-bg);
      color: var(--colour-available-text);
    }
    &--pending {
      background-color: var(--colour-sold-bg);
      color: var(--colour-sold-text);
    }
  }

  &__label {
    margin: 0 0 4px 0;
  }

  &__value {
    margin: 0;
  }
}