.phone_no_field {
  position: relative;
  width: 100%;

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  input {
    display: block;
    width: 100%;
    padding: var(--space-2) var(--space-3);
    border: 1px solid var(--color-border-base);
    line-height: var(--line-height-base);

    border-radius: 8px;
    background-color: var(--app-bg);
    outline: none;
    box-sizing: border-box;

    &-error {
      border-color: #db1212 !important;
    }
    &:disabled {
      background-color: var(--skeleton-light);
      color: var(--color-disabled-text);
    }
  }

  &-error_message {
    position: absolute;
    top: 100%;
    left: 10px;
    margin-top: 6px;
    z-index: 10;
    background-color: white;
    color: #dc2626;
    border: 1px solid #dc2626;
    border-radius: 4px;
    padding: 3px 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    white-space: nowrap;

    &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 15px;
      border-width: 4px;
      border-style: solid;
      border-color: transparent transparent #dc2626 transparent;
    }
  }
}
