.th_container {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  // gap: 4px; 
  padding: 4px 0; 

  .th_controls {
    display: flex;
    align-items: center;
    gap: 4px; 
  }
}