.page_limit_select {
  display: flex;
  align-items: center;
  width: fit-content;
  &__left {
    background: --color-neutral-0;
    padding: 6px 10px;
    border-radius: 4px;

    span {
      color: var(--navy) !important;
    }
  }

  &__dropdown {
    position: relative;
    button {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 36px;
      background: #f1f6fd;
      color: var(--navy) !important;

      padding: 6px 10px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      transition: background-color 0.2s ease;
      span {
        color: var(--navy) !important;
      }
      &:hover {
        background-color: #e9eff8;
      }
    }
    &-menu {
      color: black;
      position: absolute;
      bottom: 100%;
      background-color:var(--color-neutral-0);
      border-radius: 8px;
      padding: 6px 0;
      box-shadow:
        0 4px 6px -1px rgba(241, 230, 230, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      min-width: 180px;

      &-item {
        padding: 8px 12px;
        color: black;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: var(--iCSteelBlueMLight);
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .page_limit_select {
    &__left {
      display: none;
    }
  }
}
