.customer_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__add_button {
    margin-left: auto;
  }

  &__actions {
    width: 100%;
  }

  &__mobile-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 16px;
  }
}