.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  vertical-align: middle;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.2s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    }
  }

  input:checked + &__slider {
    background-color: #1976d2; // A nice blue, similar to MUI's primary color

    &:before {
      transform: translateX(14px);
    }
  }

  input:focus + &__slider {
    box-shadow: 0 0 1px #1976d2;
  }

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;

    input:checked + .switch__slider {
        background-color: rgba(25, 118, 210, 0.5);
    }

     .switch__slider {
        background-color: #b0b0b0;
    }
  }
}