.autocomplete {
  border-radius: 8px;

  position: relative;
  display: flex;
  flex-direction: column;
  line-height: var(--line-height-base);  

  &__label {
    margin-bottom: var(--space-2);
  }

  
.autocomplete__option.active {
  background-color: var(--app-bg); 
  color: #333;
}
  &__input {
    padding: var(--space-2) var(--space-3);
    border: 1px solid var(--color-border-base);
    border-radius: 8px;
    line-height: var(--line-height-base);
    color: var(--color-text-base);
    line-height: var(--line-height-base);
    background-color: var(--app-bg);
    transition:
      border-color var(--transition-fast),
      box-shadow var(--transition-fast);
      &:disabled {
    background-color: var(--skeleton-light);
    color: var(--color-disabled-text);
  }
    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
      border-color: var(--color-brand-base);
    }
  }

  &__dropdown {
    border: 1px solid var(--color-border-base);
    list-style-type: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    padding: 0 5px;
    background: #fff;
    border-radius: 12px;
    z-index: 10;
    max-height: 180px;
    overflow-y: auto;
  }

  &__option {
    border-bottom:  1px solid var(--color-border-base);
    padding: var(--space-2) var(--space-3);
    cursor: pointer;
    transition: background-color var(--transition-fast);

    &:hover,
    &.is-active {
      background-color: var(--sidbar-Bg);
    }
  }
}
