.table-header-cell {
  //  text-align: left;
  //  font-weight: 500;
  //  font-size: var(--font-size-base);

  &__content {
    padding: 5px 0px 5px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
  }
}