/* --- Main Block: td-date --- */
.td_date {
  padding: var(--space-3) var(--space-1);
  color: var(--color-text-base);

  /* --- Element: content --- */
  &__content {
    padding-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
  }
}