.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
  border-bottom: 3px solid var(--skeleton-light);
  background-color: var(--color-neutral-0);
  gap: 8px;

  &__left {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
    min-width: 0;
  }

  &__title {
    color: var(--color-neutral-1000);
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__subtitle {
    color: var(--color-neutral-400);
  }

  &__status {
    width: fit-content;
    padding: 2px 10px;
    border-radius: 12px;
    margin-top: 6px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    flex-shrink: 0;
    text-align: right;
  }

  &__amount {
    color: var(--color-neutral-900);
  }

  &__balance {
    color: var(--color-neutral-600); // Fixed a typo here: removed extra parentheses
  }

  // All actions, menu-trigger, menu, and menu-item styles have been moved to ActionsMenu/style.scss
}