

.view_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #ffffff;
  color: #344edd;
  padding: 0.5rem 1.25rem;
  border-radius: 6px;
  // border: 1px solid #d1d5db;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;


  &:hover {
    background-color: #f9fafb;
    border-color: #a1a1aa;
  }


  &__icon {
    width: 16px;
    height: 16px;
    color: #0955ee;
  }
  

  &__text {
    display: inline;
  }

}