.input_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  &.disabled {
    opacity: 0.7;
  }
}

.input_label {
  margin-bottom: var(--space-2);
  font-weight: 500;
}

.input_field {
  padding: var(--space-2) var(--space-3);
  border: 1px solid var(--color-border-base);
  border-radius: 8px;
  line-height: var(--line-height-base);
  color: var(--color-text-base);
  background-color: var(--app-bg);
  transition:
    border-color var(--transition-fast),
    box-shadow var(--transition-fast);
  width: 100%;

  &:disabled {
    background-color: var(--skeleton-light);
    color: var(--color-disabled-text);
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
    border-color: var(--color-border-base); 
    box-shadow: none;
  }
}

.autocomplete {
  position: relative;

  &__dropdown {
    border: 1px solid var(--color-border-base);
    list-style-type: none;
    position: absolute;
    margin: 0;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 4px;
    padding: var(--space-1);
    background: var(--app-bg);
    border-radius: 12px;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: var(--shadow-md);
  }

  &__option {
    border-radius: 8px;
    cursor: pointer;
    transition: background-color var(--transition-fast);

    &:not(:last-child) {
      margin-bottom: 2px;
    }

    &:hover,
    &.active {
      background-color: var(--color-brand-base);
      color: white; 
    }

    &--add {
      font-weight: 500;
      padding: var(--space-2) var(--space-3); 
       &:hover,
      &.active {
        background-color: var(--color-brand-base);
        color: white;
      }
    }
  }
}


.expensetype_select_autocomplete_input-option_content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  padding: var(--space-2) var(--space-3);
  padding-right: 10px;

  .autocomplete__option:not(:hover):not(.active) & {
    color: var(--color-text-base); 
  }
  .autocomplete__option:hover &,
  .autocomplete__option.active & {
    color: white; 
  }

  &-edit_button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-muted); 
    border-radius: 4px;

    &:hover {
      color: var(--color-black);
    }

    .autocomplete__option:hover &,
    .autocomplete__option.active & {
      color: white;
      &:hover {
        color: lightgray; 
      }
    }
  }
}
