.page_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px 0px 20px 0px;
  margin-top: -20px;

  &-actions {
    display: flex;
    // gap: 15px;
    gap: 3.5px;
  }
}

@media (max-width: 900px) {
  .page_header {
    margin-top: -10px;
    flex-direction: column;
    align-items: stretch;

    &-actions {
      width: 100%;
    }
  }
}
