.list-item {
  display: flex;
  flex-direction: column; 
  padding: 8px 0px;
  border-bottom: 3px solid var(--skeleton-light);
  background-color: var(--color-neutral-0);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 18px;
    margin-right: -8px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__left-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
    min-width: 0;
  }

  &__right-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    flex-shrink: 0;
  }

  &__title {
    color: var(--color-neutral-1000);
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }

  &__subtitle {
    color: var(--color-neutral-400);
  }

  &__status {
    width: fit-content;
    padding: 2px 10px;
    border-radius: 12px;
    margin-top: 6px;
  }

  &__amount {
    color: var(--color-neutral-900);
  }

  &__balance {
    color: var(--color-neutral-600);
  }

  .actions-menu {
    margin: 0; 
  }

  .actions-menu__trigger {
    margin: 0; 
    padding: 0; 
    height: auto; 
    width: 24px; 
    // margin-left: 28px; 
  }
}