.add_customer {
  background: var(--color-surface);
  border-radius: var(--border-radius-lg);
  padding: 36px 32px 28px 32px;
  min-width: 340px;
  max-width: 550px;
  box-shadow: var(--shadow-lg);
  position: relative;
  color: var(--color-text-dark);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: center;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    color: var(--color-text-dark);

    &-title {
      color: var(--color-text-dark);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    &-actions {
      display: flex;
      gap: 10px;
      margin-top: 20px;
      
    }
  }
}

@media (max-width: 600px) {
  .add_customer {
    min-width: unset;
    width: 98vw;
    padding: 18px 12px 12px 12px;

    &__header {
      margin-bottom: 12px;
    }

    &__form-actions {
      flex-direction: column;
      gap: 8px;

      > button {
        width: 20%;
      }
    }
  }
}