.range_container {
  width: 100%;
  // padding: 20px 0;
  position: relative;

  &__label {
    display: block; // Make label take its own line
    margin-bottom: 6px; // Space between label and the range slider
    font-size: 10px;
    color: #333;
    font-weight: bold;
  }

  &__track {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #ddd;
    border-radius: 5px;

    &-highlight {
      position: absolute;
      height: 100%;
      background-color:var(--navy); // Highlight color
      border-radius: 5px;
    }

    input[type='range'] {
      position: absolute;
      width: 100%;
      -webkit-appearance: none;
      background: transparent;
      pointer-events: none; // Allow highlight bar to be clicked/interacted
    }

    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: var(--navy); // Thumb color
      cursor: pointer;
      pointer-events: all; // Make thumb clickable
      margin-top: -5px; // Center thumb vertically on track
    }

    input[type='range']::-moz-range-thumb {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: var(--navy);
      cursor: pointer;
      pointer-events: all;
    }
  }
  &__input_style {
    padding: 0;
    border: none;
    outline: none;
  }

  .price-labels-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px; // Space between slider and labels
    width: 100%;

    .price-label {
      font-size: 10px;
      color: #333;
    }
  }
}