.submit_button2 {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 8px !important;
  background-color: var(--navy); /* override */
  color: white !important;
  border-radius: 6px !important;
  border: none !important;
  cursor: pointer !important;
  padding: 6px 35px;
  transition: background-color 0.2s ease !important;
  &-loader {
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
  &:hover {
    background-color: var(--sidebar-hover);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 900px) {
  .submit_button2{
  padding: 10px 35px;

  }
}
