.refresh_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 36px;
  background-color: #ffffff;     
  color: #374151;                  
  padding: 0.5rem;                
  border-radius: 6px;
  border: 1px solid #d1d5db;     
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    transform 0.1s ease;   
    
  svg {
    color:var(--navy);
  }

  &:hover {
    color: #000000cc;
    background-color: #f9fafb;     
    border-color: #a1a1aa;
  }

  &:active {
    transform: scale(0.95);
  }
}