.calc-input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-label {
  font-size: 100%;
  display: block;
  margin-bottom: var(--space-2);  
  color: var(--color-black-text);  
}

.main-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input_field_with_calc {
  width: 100%;
  padding: var(--space-0) var(--space-3);
  border: 1px solid var(--color-border-base);
  border-radius: 8px;
  background-color: var(--color-surface);
  border-radius: var(--radius-md);
  background-color: var(--app-bg);
  transition:
    border-color var(--transition-fast),
    box-shadow var(--transition-fast);
  height: 43px;
  padding-right: 35px;

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: var(--color-brand-base);
  }
    &:disabled {
    background-color:var(--skeleton-light); 
    color:var(--color-disabled-text);
  }
}

.calculator-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-neutral-500);
  cursor: pointer;
  font-size: 1.2rem;
  transition: color var(--transition-fast);

  &:hover {
    color: var(--color-primary);
  }
}

.popover {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: var(--color-surface);
  border: var(--border-width-base) solid var(--color-border-base);
  border-radius: var(--radius-md);
  padding: var(--space-2) var(--space-3);
  width: 95%;
  box-shadow: var(--shadow-md);
  z-index: var(--z-index-10);
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.popover-input {
  flex-grow: 1;
  padding: var(--space-2) var(--space-3);
  border: var(--border-width-base) solid var(--color-border-base);
  border-radius: var(--radius-sm);
  font-size: var(--fs14);
  background-color: var(--color-surface);
  width: 100%;

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: var(--color-brand-base);
  }
}

.calculate-btn {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: var(--navy);
  color: var(--color-neutral-0);
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color var(--transition-fast);

  &:hover {
    background-color: var(--color-primary);
  }
}
