.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &__left_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
  &__pages {
    display: flex;
    gap: 6px;
  }
  &__num {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 34px;
    height: 34px;
    padding: 6px 10px;
    border-radius: 6px;
    border: solid 1px var(--navy);
    background-color: var(--color-neutral-0);
    cursor: pointer;
    &--is-active {
      background-color: var(--navy);
      color:var(--color-neutral-0);
    }
  }
}
