
.table_top_container {
  width: 100%;
  // padding: 1rem 0;

  .table_top_container-content {
    width: 100%;
    flex-wrap: wrap; /* Allows items to wrap onto the next line on smaller screens */
    gap: 1rem; /* Adds space between summary and actions when they wrap */
  }

  .table_top_container-summary {
    
  }

  .table_top_container-main_actions {
    flex-wrap: nowrap; /* Prevents the buttons within the action group from wrapping */
    margin-bottom:-10px;
  }
  @media (max-width: 1200px) {
  .table_top_container-main_actions {
    margin-bottom: 1rem !important;
  }
}
}