.sidebar-link {
  display: flex;
  align-items: center;
  padding: 1rem;
  // border-radius: 6px;
  color: #b0b0b0;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
  white-space: nowrap;

  .sidebar-link__icon {
    flex-shrink: 0;
  }

  .sidebar-link__label {
    margin-left: 1rem;
  }

  &:hover {
    text-decoration: none !important;
    background: var(--sidebar-hover);
    color: var(--sidebar-hover-text);
    border-radius: 5px;
  }
  &:focus {
    text-decoration: none !important;
  }

  &.active {
    background: var(--sidebar-hover);
    color: var(--sidebar-hover-text);

    text-decoration: none !important;
    border-left: 4px solid transparent;
    border-color: var(--color-natural-0);
  }
}
