.search_field {
  display: flex;
  align-items: center;
  border: 2px solid #3182ce;
  border: 1px solid var(--color-border-base);
  border-radius: 8px;
  overflow: hidden;
  width: 360px;
  background-color: #ffffff;
  height: 36px;

  &-select {
    // border: 2px solid #3182ce;
    background-color: #f5f8ff;
    width: 135px;
    padding: 0px 14px;
    height: 40px;
    outline: none;
    text-align: left;
    border-left: none;
  }

  &-input {
    border: none;
    outline: none;
    height: 40px;
    padding: 1px;
    padding-left: 10px;
    flex: 1;
    background-color: var(--color-neutral-0);
    &:focus-within {
      outline: 2px solid transparent;
      outline-offset: 2px;
      border-color: red;
    }
  }

  button {
    height: 40px;
    background-color: #f5f8ff;
    border: none;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-left: 1px solid #cbd5e0;
    color: #1a202c;
  }

  &:focus-within {
    // box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.6);
    border: 2px solid #3182ce;
  }
}
